.calculator {
  display: grid;
  gap: 3px;
  background-color: #d1d1d1;
  padding: 3px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.cal-item {
  display: flex;
  background-color: #e0e0e0;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  height: 60px;
}

.cal-item:hover {
  background-color: #bab9b9;
  cursor: pointer;
}

.screen {
  grid-column: 1 / span 4;
  background-color: #858693;
  justify-content: end;
  color: #fff;
  font-size: 40px;
}

.orange {
  background-color: #f39148;
}

.zero {
  grid-column: 1 / span 2;
}
